html {
  --color-blue-dark: #3f3697;
  --color-blue-medium: #344fa1;
  --color-blue-light: #3d84b8;
  --color-blue-light-90: #3d84b890;

  --color-yellow: #fcc12f;
  --color-yellow-dark: #b5871e;

  --color-cream: #f0ebcc;
  --color-background: #24366b;
  --color-gray: #3a3a3a;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, 0.9);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.bg {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  max-height: 100vh;
  overflow: hidden;
}
.bg::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.8;
}
.bg img {
  width: 100%;
}
.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
  position: absolute;
  /* min-height: 90vh; */
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  /* width: 100%; */
  /* min-width: 100%; */
  /* height: 100vh; */
  /* min-height: 90vh; */

  /* max-height: 100vh; */
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}
.switch {
  position: relative;
  width: 100vw;
  margin-top: 56px;
}
.menu {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100vw;
}
.navbar-toggler {
  margin-left: auto;
  margin-right: 1rem;
}

.logo-image {
  width: 100px;
}
/* .content-wrapper {
  display: flex;
} */
/* .switch {
  display: flex;
  flex: 1 1 auto;
  background: blue;
} */
/* .content-wrapper {
  display: flex;
  flex: 1 1 auto;
  position: relative;
} */
/* 
.home {
  overflow: hidden;
  margin: 0;
  padding: 0;
  max-width: 100%;
} */

.circles-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
}
.circles {
  /* background: red; */
  width: 100px;
  height: 100px;
  display: block;
  /* margin-left: -15%; */
  z-index: 1;
  position: absolute;
}
.group-1 {
  left: -100px;
}
.group-2 {
  left: 100vw;
}
.circle {
  display: block;
  width: 50%;
  height: 50%;
  border-radius: 50px;
}
.c1 {
  background: var(--color-blue-dark);
  margin-left: -20%;
}
.c2 {
  background: var(--color-blue-medium);
  margin-top: -25%;
  margin-left: 50%;
  width: 80%;
  height: 80%;
}
.c3 {
  background: var(--color-cream);
  width: 60%;
  height: 60%;
  margin-top: -20%;
}
/* .wrapper {
  position: relative;
  display: block;
  flex: 1 1 auto;
} */

.content-wrapper {
  position: absolute;
  width: 100%;
}
.content {
  background: var(--color-blue-light-90);
  z-index: 2;
  border-radius: 25px;
  position: relative;
  max-width: 500px;
  margin: auto;
  /* top: 0; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.arrow {
  color: white;
}
.arrow:hover {
  color: rgba(0, 0, 0, 0.4);
}
.project-link {
  color: var(--gray-dark);
}
.project-link:hover {
  color: black;
}
.home-link {
  color: rgb(140, 140, 140);
  font-weight: 700;
}
.home-link:hover {
  color: rgb(30, 30, 30);
}
.read-less {
  height: 92px !important;
  position: relative;
}
.read-less:before {
  content: "...";
  display: block;
  position: absolute;
  top: 100%;
}
/* .about .row {
  padding-left: 10%;
  padding-right: 10%;
} */
.about p {
  line-height: 2;
}
.profile {
  max-width: 300px;
}
.app-link {
  color: var(--color-yellow);
}
.app-link:hover {
  color: var(--color-yellow-dark);
}

.resume h3 {
  color: var(--color-blue-light);
  font-size: 1.75rem;
  font-weight: 700;
  text-decoration: underline;
}
.resume h5 {
  font-size: 1.15rem;
  font-weight: 400;
}
.resume h6 {
  margin-left: 0.8rem;
}
.resume p {
  font-size: 0.9rem;
}
.resume-body__left {
  width: 60%;
}
.resume-body__right {
  width: 40%;
  padding-left: 10%;
}
.subject-modal {
  display: none;
}
.subject:hover .subject-modal {
  display: block;
  position: absolute;
  background: var(--color-blue-light);
  border-radius: 15px;
}
footer {
  z-index: 50;
  height: 6vh;
}
